//********************************************************//
// Colors //

//--------------------------------------------------------//
// Brand text colors //

.text-purple {
	color: $brand-purple;
}
.text-blue {
	color: $brand-blue;
}
.text-sky {
	color: $brand-sky;
}
.text-teal {
	color: $brand-teal;
}
.text-green {
	color: $brand-green;
}
.text-lime {
	color: $brand-lime;
}
.text-yellow {
	color: $brand-yellow;
}
.text-orange {
	color: $brand-orange;
}
.text-burnt {
	color: $brand-burnt;
}
.text-rust {
	color: $brand-rust;
}
.text-red {
	color: $brand-red;
}
.text-pink {
	color: $brand-pink;
}

//--------------------------------------------------------//
// Brand background color //

.bg-purple {
	background-color: $brand-purple;
}
.bg-blue {
	background-color: $brand-blue;
}
.bg-sky {
	background-color: $brand-sky;
}
.bg-teal {
	background-color: $brand-teal;
}
.bg-green {
	background-color: $brand-green;
}
.bg-lime {
	background-color: $brand-lime;
}
.bg-yellow {
	background-color: $brand-yellow;
}
.bg-orange {
	background-color: $brand-orange;
}
.bg-burnt {
	background-color: $brand-burnt;
}
.bg-rust {
	background-color: $brand-rust;
}
.bg-red {
	background-color: $brand-red;
}
.bg-pink {
	background-color: $brand-pink;
}

//--------------------------------------------------------//
// Delegate Colors //

.delegate1 {
	color: $brand-blue;
	border-color: $brand-blue;
}
.delegate2 {
	color: $brand-sky;
	border-color: $brand-sky;
}
.delegate3 {
	color: $brand-teal;
	border-color: $brand-teal;
}
.delegate4 {
	color: $brand-green;
	border-color: $brand-green;
}
.delegate5 {
	color: $brand-lime;
	border-color: $brand-lime;
}
.delegate6 {
	color: $brand-yellow;
	border-color: $brand-yellow;
}
.delegate7 {
	color: $brand-orange;
	border-color: $brand-orange;
}
.delegate8 {
	color: $brand-burnt;
	border-color: $brand-burnt;
}
.delegate9 {
	color: $brand-red;
	border-color: $brand-red;
}
.delegate0 {
	color: $brand-pink;
	border-color: $brand-pink;
}