//********************************************************//
// Dropzone //

.dropzone {
	position: relative;
	padding: 63px 20px 0 20px;
	height: 240px;
	background: lighten($brand-teal, 33%);
	border: 3px dashed #ccc;
	border-radius: 10px;
	
	.loading {
		position: absolute;
		top: 0;
		
		padding: 0;
		background: rgba(255, 255, 255, 0.5);
		z-index: 404;

		.fa {
			font-size: 120px;
			color: $brand-teal;
			line-height: 240px;
			vertical-align: middle;
		}
	}
	
	.text {
		position: relative;
		text-align: center;
		font-size: 18px;
		z-index: 402;
	}
	
	.dropicon {
		position: absolute;
		top: 0;
		left: 0;
		font-size: 120px;
		line-height: 240px;
		color: $brand-teal;
		text-align: center;
		vertical-align: middle;
		width: 100%;
		height: 100%;
		display: block;
		opacity: .2;
		z-index: 400;
	}
}

.dropzone.dropzone-sm {
	padding: 20px;
	height: 180px;

	.loading {
		font-size: 60px;
		line-height: 180px;
	}

	.dropicon {
		font-size: 96px;
		line-height: 180px;
	}
}

.dropzone.complete {
	background-color: lighten($brand-green, 45%);;
	border-color: $brand-green;
	
	* {
		color: $brand-green;
	}

	.dropicon {
		color: $brand-green;
		opacity: 1;
	}
}

.dropzone.active, .complete.active {
	background: transparentize($brand-teal, .8);
	border-color: $brand-teal;

	.text {
		display: none;
	}

	.dropicon {
		color: $brand-teal;
		opacity: 1;
	}
}