//********************************************************//
// Dashboard //

#panel-Projects { 
	.panel-body {
		padding-bottom: 0;
		min-height: 200px;
	}

	.row > div:nth-of-type(odd) {
		clear: left;
	}
}

#AddDialForm .table tr {
	transition: background-color 100ms;
}

#panel-Measures {
	.panel-body {
		padding-bottom: 0;
		min-height: 155px;
	}

	// Horiztonal bar colors
	// For Measures screen
	.h-bar {
		margin-right: 10px;
		width: 120px;
		background-color: transparentize($brand-purple, 0.5);
		display: inline-block;

		.fill {
			background-color: $brand-purple;
		}
	}
	.h-bar.blue {
		background-color: transparentize($brand-blue, 0.5);

		.fill {
			background-color: $brand-blue;
		}
	}
	.h-bar.sky {
		background-color: transparentize($brand-sky, 0.5);

		.fill {
			background-color: $brand-sky;
		}
	}
	.h-bar.teal {
		background-color: transparentize($brand-teal, 0.5);

		.fill {
			background-color: $brand-teal;
		}
	}
	.h-bar.green {
		background-color: transparentize($brand-green, 0.5);

		.fill {
			background-color: $brand-green;
		}
	}
	.h-bar.lime {
		background-color: transparentize($brand-lime, 0.5);

		.fill {
			background-color: $brand-lime;
		}
	}
	.h-bar.yellow {
		background-color: transparentize($brand-yellow, 0.5);

		.fill {
			background-color: $brand-yellow;
		}
	}
	.h-bar.orange {
		background-color: transparentize($brand-orange, 0.5);

		.fill {
			background-color: $brand-orange;
		}
	}
	.h-bar.burnt {
		background-color: transparentize($brand-burnt, 0.5);

		.fill {
			background-color: $brand-burnt;
		}
	}
	.h-bar.rust {
		background-color: transparentize($brand-rust, 0.5);

		.fill {
			background-color: $brand-rust;
		}
	}
	.h-bar.red {
		background-color: transparentize($brand-red, 0.5);

		.fill {
			background-color: $brand-red;
		}
	}
	.h-bar.pink {
		background-color: transparentize($brand-pink, 0.5);

		.fill {
			background-color: $brand-pink;
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	#panel-Measures .row > div:nth-of-type(odd) {
		clear: left;
	}
}

@media screen and (min-width: 992px) {
	#panel-Measures .row > div:nth-of-type(4n+1) {
		clear: left;
	}
}