<div id="BrandBar">
    <img src="assets/img/template/logo.png" height="60" alt="ZenPRM">
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6 col-lg-offset-4 col-lg-4">

            <form ng-submit="changePassword()" name="changePassForm">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2>Must Change Password</h2>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="required" for="newPassword">New Password</label>
                            <input type="password" id="newPassword" class="immediate-help form-control" ng-model="newPassword" placeholder="New Password" ng-minlength="1" required="" password-validate>
                        </div>
                        <div class="form-group">
                            <label class="required" for="confirmNewPassword">Confirm New Password</label>
                            <input type="password" class="form-control" id="confirmNewPassword" ng-model="confirmNewPassword" placeholder="Confirm New Password" ng-minlength="1" required="">
                        </div>
                        <div class="well">
                            <h4>Password must meet the following requirements:</h4>
                            <ul>
                                <li ng-class="pwdHasLetter">At least <strong>one letter</strong></li>
                                <li ng-class="pwdHasNumber">At least <strong>one number</strong></li>
                                <li ng-class="pwdValidLength">At least <strong>8 characters long</strong></li>
                            </ul>
                        </div>
                    </div>
                    <!-- end .panel-body -->
                    <div class="panel-footer text-right">
                        <button class="btn btn-primary" type="submit" ng-disabled="changePassForm.$invalid">Submit</button>
                    </div>
                </div>
                <!-- end .panel -->

            </form>

        </div>
        <!-- end .col -->
    </div>
    <!-- end .row -->
</div>
<!-- end .container -->