<header id="Title" class="clearfix">
    <h1><i class="fa fa-unlock-alt"></i> Change Password</h1>
</header>

<div class="container-fluid">

    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8">
                    <form name="changePassForm">
                        <div class="form-group">
                            <label class="required" for="currentPassword">Current Password</label>
                            <input type="password" id="currentPassword" class="immediate-help form-control" ng-model="currentPassword" placeholder="Current Password" ng-minlength="1" required="">
                        </div>
                        <div class="form-group">
                            <label class="required" for="newPassword">New Password</label>
                            <input type="password" id="newPassword" class="immediate-help form-control" ng-model="newPassword" placeholder="New Password" ng-minlength="1" required="" password-validate>

                        </div>
                        <div class="form-group">
                            <label class="required" for="confirmNewPassword">Confirm New Password</label>
                            <input type="password" class="form-control" id="confirmNewPassword" ng-model="confirmNewPassword" placeholder="Confirm New Password" ng-minlength="1"  required="">
                        </div>
                    </form>
                </div>
                <div class="col-md-4">
                    <div class="well">
                        <h4>Password must meet the following requirements:</h4>
                        <ul>
                            <li ng-class="pwdHasLetter">At least <strong>one letter</strong>
                            </li>
                            <li ng-class="pwdHasNumber">At least <strong>one number</strong>
                            </li>
                            <li ng-class="pwdValidLength">At least <strong>8 characters long</strong>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end .row -->
        </div>
        <!-- end .panel-body -->
        <div class="panel-footer">
            <button class="btn btn-success" type="submit" ng-disabled="changePassForm.$invalid" ng-click="changePassword()" ><i class="fa fa-floppy-o"></i> Save</button>
        </div>
    </div>
    <!-- end .panel -->

</div>
<!-- end .container -->